{
  "env": {
    "development": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            },
            "modules": "commonjs",
            "loose": true
          }
        ],
        "react",
        "stage-0"
      ]
    },
    "cjs": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "electron": "2.0"
            },
            "modules": "commonjs",
            "loose": true
          }
        ],
        "react",
        "stage-0"
      ]
    },
    "esm": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "electron": "2.0"
            },
            "modules": false,
            "loose": true
          }
        ],
        "react",
        "stage-0"
      ]
    }
  }
}
