{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-namespace-from"
  ],
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            },
            "modules": "commonjs",
            "loose": true
          }
        ],
        "@babel/preset-flow",
        "@babel/preset-react"
      ]
    },
    "cjs": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "electron": "4.0"
            },
            "modules": "commonjs",
            "loose": true
          }
        ],
        "@babel/preset-flow",
        "@babel/preset-react"
      ]
    },
    "esm": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "electron": "4.0"
            },
            "modules": false,
            "loose": true
          }
        ],
        "@babel/preset-flow",
        "@babel/preset-react"
      ]
    }
  }
}
